<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="7IP0_xtDCyu3DT0l7UCNPRZ6Uga0jK8R_UUiGZqqp4M" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lower Mainland Flight Planning Info</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106550520-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106550520-1');
    </script>
  </head>
  <body>
    <div class="header"><p><a href="#disclaimer">Disclaimer</a></p></div>
    <div class="gfa-container">
      <input type="radio" name="gfa-group" id="gfa-1" class="gfa-toggle" checked />
      <div class="gfa">
	<a href="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_000.png" target="blank_">
	  <img class="original-gfa" src="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_000.png" />
	  <img class="mobile-gfa" src="custom-gfa/000.png" />
	</a>
      </div>
      <input type="radio" name="gfa-group" id="gfa-2" class="gfa-toggle" />
      <div class="gfa">
	<a href="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_006.png" target="blank_">
	  <img class="original-gfa" src="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_006.png" />
	  <img class="mobile-gfa" src="custom-gfa/006.png" />
	</a>
      </a>
      </div>
      <input type="radio" name="gfa-group" id="gfa-3" class="gfa-toggle" />
      <div class="gfa">
	<a href="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_012.png" target="blank_">
	  <img class="original-gfa" src="https://flightplanning.navcanada.ca/Latest/gfa/anglais/produits/uprair/gfa/gfacn31/Latest-gfacn31_cldwx_012.png" />
	  <img class="mobile-gfa" src="custom-gfa/012.png" />
	</a>
      </div>
      <div class="gfa-toggles">
	<label class="toggle-label" for="gfa-1">+0h</label>&nbsp;&nbsp;<label class="toggle-label" for="gfa-2">+6h</label>&nbsp;&nbsp;<label class="toggle-label" for="gfa-3">+12h</label>
      </div>
    </div>
    {% for station, data in metars_and_tafs.items() %}
    <h1>{{station}}</h1>
    {% for metar in data['METARS'] %}
    <p>{{metar}}</p>
    {% endfor %}
    {% autoescape false %}
    <p>{{data['TAF']|replace(' FM', '<br />FM')|replace(' TEMPO', ' <wbr />TEMPO')|replace(' BCMG',' <wbr />BCMG')|replace(' PROB', ' <wbr />PROB')}}</p>
    {% endautoescape %}
    {% endfor %}

    <h1>Supplemental information</h1>
    <p>Lower mainland ATIS: <a href="tel:1-877-517-2847">1-877-517-2847</a></p>
    <p><a href="http://atm.navcanada.ca/atm/iwv/CZBB">CZBB (Boundary Bay) current winds</a></p>

    <h1>Upper winds (Vancouver)</h1>
    <table>
      <tr><th>Data from</th><th>Valid at</th><th>3000</th><th>6000</th><th>9000</th></tr>
      {% for w in upper_winds %}
      <tr><td>{{w.data_from}}</td><td>{{w.valid_at}}</td><td>{{w['3000']}}</td><td>{{w['6000']}}</td><td>{{w['9000']}}</td></tr>
      {% endfor %}
    </table>

    <h1>NOTAMs</h1>
    <div class="notam new-notam">
      <p class="notam_station">Ten newest NOTAMs per file ({{notam_stations|join(',')}}) are highlighted.</p>
    </div>
    {% for notam in notams %}
    <div class="notam {% if notam.highlight %}new-notam{% endif %}">
      <p class="notam_station">{{notam.station_line}}</p>
      <p class="notam_content">{{notam.content}}</p>
    </div>
    {% endfor %}


    <div class="footer"><a name="disclaimer" /><p>This page is just an attempt to reproduce a selection of flight planning information from <a href="http://flightplanning.navcanada.ca">navcanada.ca</a> that I find generally useful for VFR flying in the area. I don&rsquo;t guarantee its accuracy, completeness, relevance, or currency; <a href="http://www.navcanada.ca/en/pages/terms-of-use.aspx">neither do they</a>.</p><p>Code, feedback: <a href="https://github.com/sanchom/lower-mainland-flight-planning">github.com/sanchom/lower-mainland-flight-planning</a></p></div>

  </body>
</html>
